<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="Paris Do">

    <title>WHOVA Intern Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel='stylesheet'>

    <!-- Modal CSS -->
    <link href="css/modal.css" rel='stylesheet'>


</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="facebook-layout">
            <!-- create a post on facebook timeline -->
            <div class="create-post">
                <div class="create-post-header">
                    <span id="create-post-header-option">
                        <img class="icon" src="img/create-post-icon.png" alt="Create Post Icon" height="20" width="20">
                        Create a Post
                    </span>
                    <span class="other-header-option">
                        <img class="icon" src="img/photo-video-album-icon.png" alt="Photo Video Album Icon" height="20" width="20">
                        Photo/Video Album
                    </span>
                    <span class="other-header-option">
                        <img class="icon" src="img/video-icon.png" alt="Live Video Icon" height="20" width="20">
                        Live Video
                    </span>
                </div>

                <!-- user will enter facebook status here in this section -->
                <div class="create-post-input">
                    <div class="profile-picture">
                        <img src="img/profile-picture.png" alt="Paris Do" height="42" width="42">
                    </div>
                    <div class="textarea-box">
                        <textarea title="Write something here" class="textarea-input" name="xhpc_message" placeholder="Write something here"></textarea>

                    </div>

                </div>

                <!-- user will upload photos/videos or reactions (feelings) here -->
                <div class="upload-section">
                    <div class="line-divider"></div>
                    <span>
                        <div class="upload-item" id="photo-video">
                            <img class="icon" src="img/photo-upload-icon.png" alt="Photo Upload Icon" height="20" width="20">
                            Photo/Video
                        </div>
                        <div class="upload-item" id="feeling-activity">
                            <img class="icon" src="img/reaction-icon.png" alt="Reaction Icon" height="20" width="20">
                            Feeling/Activity
                        </div>
                        <div class="upload-item" id="ellipsis">
                            <img src="img/ellipsis-icon.png" alt="Ellipsis Icon" height="20" width="20">
                        </div>
                    </span>
                </div>
            </div>

            <div ng-app='app'>
                <div ng-controller='CommentsCtrl' ng-cloak>
            <!-- The Modal -->
            <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
            <div class="create-post-modal">
                <div class="create-post-header">
                    <span id="create-post-header-option">
                        <img class="icon" src="img/create-post-icon.png" alt="Create Post Icon" height="20" width="20">
                        Create a Post
                    </span>
                    <span class="other-header-option">
                        <img class="icon" src="img/photo-video-album-icon.png" alt="Photo Video Album Icon" height="20" width="20">
                        Photo/Video Album
                    </span>
                    <span class="other-header-option">
                        <img class="icon" src="img/video-icon.png" alt="Live Video Icon" height="20" width="20">
                        Live Video
                    </span>
                            <span class="close">&times;</span>
                </div>

                <!-- user will enter facebook status here in this section -->
                <div class="create-post-input">
                    <div class="profile-picture">
                        <img src="img/profile-picture.png" alt="Paris Do" height="42" width="42">
                    </div>
                    <div class="textarea-box-modal">

                        <textarea ng-model='name' type='text' title="Write something here" class="textarea-input" name="xhpc_message" placeholder="Write something here"></textarea>
                        <br>
                        <img class="collapse-colors" src="img/collapse-colors.png" alt="Collapse Colors" height="19" width="19">
                        <img class="uncollapse-colors" src="img/uncollapse-colors.png" alt="Collapse Colors" height="19" width="19">
                        <span class="circle" id="white"></span>
                        <span class="circle" id="yellow"></span>
                        <span class="circle" id="yellow-orange"></span>
                        <span class="circle" id="red"></span>
                        <span class="circle" id="green-blue"></span>
                        <span class="circle" id="blue"></span>
                        <span class="circle" id="pink-purple"></span>
                        <span class="circle" id="darkgrey"></span>
                    </div>

                </div>

                <!-- user will upload photos/videos or reactions (feelings) here -->
                <div class="upload-section">
                    <div class="line-divider"></div>
                    <span>
                        <div type="file" class="upload-item-modal" id="photo-video">
                             <!-- <textarea ng-model='text'></textarea> -->
                            <img class="icon" src="img/photo-upload-icon.png" alt="Photo Upload Icon" height="20" width="20">
                            Photo/Video
                        </div>
                        <div class="upload-item-modal" id="feeling-activity">
                            <img class="icon" src="img/reaction-icon.png" alt="Reaction Icon" height="20" width="20">
                            Feeling/Activity
                        </div>
                        <div class="upload-item-modal" id="check-in">
                            <img class="icon" src="img/check-in-icon.png" alt="Check In Icon" height="20" width="20">
                            Check In
                        </div>
                        <div class="upload-item-modal" id="tag-friends">
                            <img class="icon" src="img/tag-friends-icon.png" alt="Tag Friends Icon" height="20" width="20">
                            Tag Friends
                        </div>

                        <div class="upload-item-modal" id="stickers">
                            <img class="icon" src="img/sticker-icon.png" alt="Sticker Icon" height="20" width="20">
                            Stickers
                        </div>


                    </span>
                </div>
                <div class="submit-post-modal">
                        <button class="custom" type="button">
                                <img class="icon" src="img/gear-icon.png" alt="Gear Icon" height="18" width="18">
                                Custom
                                <img class="icon" src="img/collapse-icon.png" alt="Collapse Icon" height="15" width="15">
                        </button>
                        <button class='post button' ng-click='submit()' type='submit' value='Submit' type="button">Post</button>
                </div>
            </div>
            </div>

            </div>

            <div class="uploaded-post" ng-repeat='comment in comments'>
                <div class="uploaded-post-header">
                    <div class="uploaded-profile-picture">
                        <img src="img/profile-picture.png" alt="Paris Do" height="42" width="42">
                    </div>
                    <div class="uploaded-post-header-info">
                        <div class="name-and-arrow">
                            <div class="name">
                                Sandeep Prabhu
                            </div>
                            <span ng-click='drop(comment)' class="arrow">
                                <!-- <img src="img/arrow-icon.png" alt="Arrow Icon" height="16" width="20"> -->
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </div>
                        <div class="upload-post-time">
                            Monday at 3:45pm <img class="icon" src="img/world-icon.png" alt="World Icon" height="16" width="16">
                        </div>
                    </div>
                </div>
                <div class="comment-title">
                    {{comment.name}}
                </div>

                <div class="media-post">
                    <img src="img/shibainu.png" alt="Paris Do" height="100%" width="100%">
                </div>

                <script type="text/ng-template" id="like"></script>

                <script type="text/ng-template" id="unlike">

                    <div class="liked">
                      <img src="img/liked-icon.png" alt="Like Icon" height="20" width="20">
                      <span class="liked-name">Paris Do</span>
                    </div>
                </script>




                <div class="user-reaction">
                    <span ng-click="template='page2'" class="item-reaction">
                        <img class="icon" src="img/like-icon.png" alt="Like Icon" height="20" width="20">
                        <span id="like"  ng-click="like = !like">Like</span>
                    </span>
                    <span class="item-reaction">
                        <img class="icon" src="img/comment-icon.png" alt="Comment Icon" height="20" width="20">
                        <span id="comment">Comment</span>
                    </span>
                    <span class="item-reaction">
                        <img class="icon" src="img/share-icon.png" alt="Share Icon" height="20" width="20">
                        <span id="share">Share</span>
                    </span>
                </div>

                <div class="user-comments">
                    <div ng-include="'like'" ng-if="like" ></div>
                    <div ng-include="'unlike'" ng-if="!like" ></div>
                    <div class="add-comments">
                        <div class="comment-user-picture">
                            <img src="img/profile-picture.png" alt="Paris Do" height="32" width="32">
                        </div>
                        <div class="write-comments">
                            <input class="comment" placeholder="Write a comment...">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>





</div>




</div>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Bootstrap Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- Modal Javascript -->
    <script src="js/modal.js"></script>

    <!-- Textbox Colors Javascript -->
    <script src="js/textbox-colors.js"></script>

    <!-- Reactions Javascript -->
    <script src="js/reactions.js"></script>

    <!-- Upload Image Via Frontend -->
    <script src="js/image-uploader.js"></script>

    <!-- Post -->
    <script src="js/post.js"></script>

</body>

</html>
